# Repo-Level Owners (in alphabetical order). Org-level maintainers are included in the linked team at the end
# For Org level maintainers, refer to https://github.com/notaryproject/.github/blob/main/CODEOWNERS
* @duffney @niazfk @priteshbandi @shizhMSFT @toddysm @Two-Hearts @vaninrao10 @yizha1
