# Repo-Level Owners (in alphabetical order). Org-level maintainers are included in the linked team at the end
# For Org level maintainers, refer to https://github.com/notaryproject/.github/blob/main/CODEOWNERS
# test
* @duffney @shizhMSFT @Two-Hearts @notaryproject/notaryproject-org-maintainers
