# Copyright The Notary Project Authors.
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: e2e-test-setup

on:
  push:
  pull_request:

jobs:
  e2e-test-setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # E2E test cases on Notation: Setup
      - name: Setup Notation
        uses: Two-Hearts/notation-action/setup@fix
    
      - name: Setup Notation using unsupported version
        id: unsupported-version
        continue-on-error: true
        uses: Two-Hearts/notation-action/setup@fix
        with:
            version: unsupported
      - name: 'Should Fail: Setup Notation using unsupported version'
        if: steps.unsupported-version.outcome != 'failure'
        run: |
            echo "Setup Notation using unsupported version should fail, but succeeded."
            exit 1

      - name: Setup Notation using URL
        uses: Two-Hearts/notation-action/setup@fix
        with:
            url: https://github.com/notaryproject/notation/releases/download/v1.0.0-rc.6/notation_1.0.0-rc.6_linux_amd64.tar.gz
            checksum: bca21002cfb611f9ffc2930e88ecdb74471806770d0c64d45e39f4971692bcf5

      - name: Setup Notation using URL without checksum
        id: no-checksum
        continue-on-error: true
        uses: Two-Hearts/notation-action/setup@fix
        with:
          url: https://github.com/notaryproject/notation/releases/download/v1.0.0-rc.6/notation_1.0.0-rc.6_linux_amd64.tar.gz
      - name: 'Should Fail: Setup Notation using URL without checksum'
        if: steps.no-checksum.outcome != 'failure'
        run: |
            echo "Setup Notation using URL without checksum should fail, but succeeded."
            exit 1
    
      - name: Setup Notation using URL and invalid checksum
        id: invalid-checksum
        continue-on-error: true
        uses: Two-Hearts/notation-action/setup@fix
        with:
          url: https://github.com/notaryproject/notation/releases/download/v1.0.0-rc.6/notation_1.0.0-rc.6_linux_amd64.tar.gz
          checksum: abcedf
      - name: 'Should Fail: Setup Notation using URL and invalid checksum'
        if: steps.invalid-checksum.outcome != 'failure'
        run: |
            echo "Setup Notation using URL and invalid checksum should fail, but succeeded."
            exit 1
    
      - name: Setup Notation using invalid URL
        id: invalid-url
        continue-on-error: true
        uses: Two-Hearts/notation-action/setup@fix
        with:
          url: invalid-url
          checksum: test
      - name: 'Should Fail: Setup Notation using invalid URL'
        if: steps.invalid-url.outcome != 'failure'
        run: |
            echo "Setup Notation using invalid URL should fail, but succeeded."
            exit 1